.Field {
    text-align: center;
    width: 100%;
    height: 100%;
}

.End{
    padding: 50px;
    background-color: green;
    
}
.Middle{
    padding: 50px;
    background-color: rgba(240, 222, 140, 0.945);
    padding-top: 500px;
    
}

.Start{
    text-align: center;
    padding: 50px;
    background-color: green;
   
}

.Light{
    width: 100px;
    height: 100px;
    background: rgb(13, 231, 13);
    z-index: 1;
    margin-top: 100px;
    position: fixed;
}